<a href="https://colab.research.google.com/github/PriyadharsanVK/Python_Programs/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a=int(input("Enter the Value of a :"))
b=int(input("Enter the Value of b :"))
c=a+b
print("The Addition of a and b :",c)

Enter the Value of a :3
Enter the Value of b :4
The Addition of a and b : 7

In [6]:
name=input("Enter your Name :")
age=input("Enter your Age :")
degree=input("Enter your Qualification :")
job=input("Enter your Job :")
print("\n\tYour Info")
print("Name          :",name)
print("Age           :",age)
print("Qualification :",degree)
print("Job           :",job)

Enter your Name :Priyadharsan
Enter your Age :18
Enter your Qualification :B.Tech
Enter your Job :College Student

	Your Info
Name          : Priyadharsan
Age           : 18
Qualification : B.Tech
Job           : College Student

In [8]:
name=input("Enter Your Name :")
Reg_no=input("Enter Your Register Number :")
Mark1=int(input("Enter Your Mark 1 :"))
Mark2=int(input("Enter Your Mark 2 :"))
Mark3=int(input("Enter Your Mark 3 :"))
Mark4=int(input("Enter Your Mark 4 :"))
Tot=Mark1+Mark2+Mark3+Mark4
Avg=Tot/4
print("\n\tMark List")
print("Name    :",name)
print("Reg.No. :",Reg_no)
print("Total   :",Tot)
print("Average :",Avg)

Enter Your Name :Priyadharsan
Enter Your Register Number :720822108045
Enter Your Mark 1 :88
Enter Your Mark 2 :89
Enter Your Mark 3 :91
Enter Your Mark 4 :90

	Mark List
Name    : Priyadharsan
Reg.No. : 720822108045
Total   : 358
Average : 89.5